body {
    max-width: 600px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(65, 60, 55);
    padding: 0.5rem;
}

h1 {
    margin: 0px;
}

h1, h2 {
    background-color: #fd7e07;
    padding: 10px;
    color: #fff;
}

.centralizar {
    text-align: center;
}

img {
    width: 600px;
}

ul, ol {
    line-height: 40px;
}

.btn-youtube {
    background-color: #fd4d07;
    color: #fff;
    text-decoration: none;
    padding: 15px 32px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
}

.btn-youtube:hover {
    background-color: #fd4d0794;
}

footer {
    margin-top: 30px;
    text-align: center;
}